@{
        Layout = null;
        Page.Title = "Relink";
}

<!DOCTYPE html>

<html>
<head>
	<title>@Page.Title</title>
	<link href='https://fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
	<link href="~/Styles/style.css" rel="stylesheet" />
</head>
<body>
	@RenderPage("map.cshtml")
	@RenderPage("logo.cshtml")
	@RenderPage("panels/bottomLeftMenu.cshtml")
	@RenderPage("panels/softwareList.cshtml")
	@RenderPage("panels/leftPanel.cshtml")
	@RenderPage("panels/rightMenu.cshtml")
    @RenderPage("panels/bottomRightMenu.cshtml")
    
    <script src="~/Scripts/jquery-2.1.4.js"></script>
	<script src="~/Scripts/raphael-min.js"></script>
    <script src="~/Scripts/MyScript.js"></script>
</body>
</html>
