<nav class="leftpanel col1">
	<div class="info">
		@RenderPage("leftPanel_RAM.cshtml")
	</div>

	<div class="info">
		@RenderPage("leftPanel_HDD.cshtml")
	</div>

	<div class="info">
		@RenderPage("leftPanel_tracer.cshtml")	
	</div>

	<div clsss="menuitem">
		@RenderPage("leftPanel_questmap.cshtml")
	</div>

	<div clsss="menuitem">
		@RenderPage("leftPanel_statusmap.cshtml")
	</div>

    <div clsss="menuitem">
        @RenderPage("leftPanel_shopmap.cshtml")
    </div>
</nav>